<div class="grid grid-center" id="chooseMode">
  <i class="mode-0"></i>
  <select id="selectMode">
    <option value="0">Обычная игра</option>
    <option value="1">Игра с Компьютером</option>
  </select>
</div>
<div class="grid grid-center" id="chooseNOP">
  <div>ИГРАТЬ</div>
  <button class="chooseNOPButton regular-button green">вдвоем</button>
  <button class="chooseNOPButton regular-button green">втроем</button>
  <button class="chooseNOPButton regular-button green active">вчетвером</button>
</div>
